.text-main {
  color: #0080ff; }

.packge-progress ul:after {
  background: -webkit-gradient(linear, left top, right top, from(#00ffff), to(#0080ff));
  background: -webkit-linear-gradient(left, #00ffff 0%, #0080ff 100%);
  background: -o-linear-gradient(left, #00ffff 0%, #0080ff 100%);
  background: linear-gradient(to right, #00ffff 0%, #0080ff 100%); }

input, select {
  border: 1px solid black;
  padding: 2.5px 5px;
  width: 100%;
  border-radius: 2.5px; }
  input:focus, select:focus {
    border: 1px solid black; }

.form-table {
  border-radius: 5px;
  padding: 5px;
  font-size: 0.75em; }
  .form-table .form-table-title {
    color: #0080ff; }
  .form-table .form-table_person {
    width: 65%; }
  .form-table .form-table_product {
    width: 35%;
    padding: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .form-table .form-table-row,
  .form-table .product-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    vertical-align: middle; }
    .form-table .form-table-row > div,
    .form-table .product-list > div {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 50px;
      -ms-flex: 1 1 50px;
      flex: 1 1 50px;
      text-align: left;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      .form-table .form-table-row > div.price, .form-table .form-table-row > div.length,
      .form-table .product-list > div.price,
      .form-table .product-list > div.length {
        -webkit-box-flex: 0.5;
        -webkit-flex: 0.5 1 25px;
        -ms-flex: 0.5 1 25px;
        flex: 0.5 1 25px; }
    .form-table .form-table-row .btn_holder,
    .form-table .product-list .btn_holder {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 30px;
      -ms-flex: 0 0 30px;
      flex: 0 0 30px;
      padding-top: 7.5px;
      text-align: center; }
    .form-table .form-table-row .val,
    .form-table .product-list .val {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 150px;
      -ms-flex: 1 1 150px;
      flex: 1 1 150px; }
    .form-table .form-table-row .num,
    .form-table .product-list .num {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 75px;
      -ms-flex: 1 1 75px;
      flex: 1 1 75px; }
    .form-table .form-table-row .phone, .form-table .form-table-row .name,
    .form-table .product-list .phone,
    .form-table .product-list .name {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 100px;
      -ms-flex: 1 1 100px;
      flex: 1 1 100px; }
    .form-table .form-table-row .address,
    .form-table .product-list .address {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 250px;
      -ms-flex: 1 1 250px;
      flex: 1 1 250px; }
    .form-table .form-table-row .mail,
    .form-table .product-list .mail {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 180px;
      -ms-flex: 1 1 180px;
      flex: 1 1 180px; }
  .form-table .product-list {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

.upload_exc {
  list-style: none;
  text-align: center;
  font-size: 8px;
  margin: 10px;
  border-top: 1px solid #4d4d4d;
  border-bottom: 1px solid #4d4d4d;
  padding: 10px; }
  .upload_exc li {
    display: inline-block;
    padding: 5px 15px; }
    .upload_exc li a {
      color: #4d4d4d; }
    .upload_exc li.active {
      background-color: #4d4d4d;
      color: #fff;
      border-radius: 30px;
      cursor: pointer; }
    .upload_exc li label {
      margin: 0;
      cursor: pointer; }
    .upload_exc li > input {
      width: 0;
      height: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: none; }

.send-btn {
  max-width: 150px;
  margin: 1.5rem auto 0; }

.border-main-bottom {
  border-bottom: 1px solid #0080ff; }

.sender-form {
  padding: 1rem 0;
  font-size: 0.75rem; }
  .sender-form .sender-info {
    max-width: 960px; }
    .sender-form .sender-info input {
      margin: 10px 5px;
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 100px;
      -ms-flex: 1 1 100px;
      flex: 1 1 100px; }
      .sender-form .sender-info input.address {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 200px;
        -ms-flex: 1 1 200px;
        flex: 1 1 200px; }

.btn_rounded {
  border-radius: 50%;
  width: 1.4rem;
  height: 1.4rem;
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: bold;
  color: #0080ff; }

.btn_add {
  border: 1px solid #0080ff;
  color: #0080ff; }

.btn_clear {
  border: 1px solid red;
  color: red; }

.shipping_done .form-table-list {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0px; }

.shipping_done .total_price {
  color: red; }
  .shipping_done .total_price span {
    display: inline-block;
    padding: 5px;
    min-width: 100px; }

.packge-progress {
  font-size: 0.75rem;
  color: #0080ff;
  max-width: 958px;
  margin: auto; }
  .packge-progress ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    margin: 45px 0; }
    .packge-progress ul:after {
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      z-index: -1; }
    .packge-progress ul li {
      text-align: center;
      display: inline-block;
      color: #ddd; }
      .packge-progress ul li.dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #ddd;
        z-index: 100; }
      .packge-progress ul li::before {
        content: attr(data-text);
        width: 100px;
        position: absolute;
        top: 10px;
        text-align: center;
        top: -30px;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: 1; }
      .packge-progress ul li:after {
        content: '';
        position: absolute;
        width: calc((100% - 50px)/4);
        height: 3px;
        background-color: #ddd;
        top: 50%;
        -webkit-transform: translate(calc(-100% - 5px), -50%);
        -ms-transform: translate(calc(-100% - 5px), -50%);
        transform: translate(calc(-100% - 5px), -50%);
        z-index: -1; }
      .packge-progress ul li:nth-child(1).active {
        background-color: #03fdff; }
      .packge-progress ul li:nth-child(2).active {
        background-color: #00dfff; }
      .packge-progress ul li:nth-child(3).active {
        background-color: #00bfff; }
      .packge-progress ul li:nth-child(4).active {
        background-color: #00a1ff; }
      .packge-progress ul li:nth-child(5).active {
        background-color: #0181ff; }
      .packge-progress ul li.active {
        color: #0080ff; }
      .packge-progress ul li.active:after, .packge-progress ul li:first-child:after {
        width: 0; }

#upload_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  display: none; }
  #upload_overlay.active {
    display: block; }
  #upload_overlay > div {
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 1.5rem; }
  #upload_overlay .btn-groups > div {
    display: inline-block; }
  #upload_overlay .btn-groups .file_btn.costomer-btn {
    padding: 0; }
  #upload_overlay .btn-groups .file_btn label {
    margin: 0;
    padding: 0.7rem 1rem; }
  #upload_overlay .btn-groups .file_btn input {
    display: none; }

.loading {
  position: relative; }
  .loading:after {
    content: 'loading';
    position: absolute;
    bottom: -40px;
    color: #fff;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }

.loading-bro {
  width: 100px;
  height: 100px; }

#load {
  width: 80px;
  margin: 10px;
  -webkit-animation: loading 3s linear infinite;
  animation: loading 3s linear infinite; }
  #load #loading-inner {
    stroke-dashoffset: 0;
    stroke-dasharray: 300;
    stroke-width: 10;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    -webkit-animation: loading-circle 2s linear infinite;
    animation: loading-circle 2s linear infinite;
    stroke: #0080ff;
    fill: transparent; }

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loading {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes loading-circle {
  0% {
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: -600; } }

@keyframes loading-circle {
  0% {
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: -600; } }
