
@import "_color.scss";

input,select{
    border: 1px solid black;
    padding:2.5px 5px;
    width: 100%;
    border-radius: 2.5px;
    &:focus{
        border: 1px solid black;
    }
}
.form-table{
    border-radius: 5px;
    padding: 5px;
    font-size: 0.75em;
    .form-table-title{
        color: $maincolor;
        // padding: 5px;
        
        // font-size: 0;
        
    }
    .form-table_person{
        width: 65%;
        // font-size: 1rem;
    }
    .form-table_product{
        width: 35%;
        // font-size: 1rem;
        padding: 0;
        align-items: center;
    }
    .form-table-row,
    .product-list{
        display: flex;
        vertical-align: middle;
        & > div{
            // padding: 5px;
            flex:1 1 50px;
            // outline: 1px solid #F00;
            text-align: left;
            box-sizing: border-box;
            // outline: 1px solid #f00;
           
            &.price,&.length{
                flex:0.5 1 25px;
            }
        }
        .btn_holder{
            flex:0 0 30px;
            padding-top: 7.5px;
    text-align: center;
        }
        .val{
            flex: 1 1 150px;
        }
        .num{
            flex: 1 1 75px;
        }
        .phone,.name{
            flex: 1 1 100px;
        }
        .address{
            flex: 1 1 250px;
        }
        .mail{
            flex: 1 1 180px;
        }
    }
    .product-list{
        width: 100%;
        flex-wrap: wrap;
    }
    
   
}
.send-btn{
    max-width: 150px;
    margin: 1.5rem auto;
}
.border-main-bottom{
    border-bottom: 1px solid $maincolor;
}
.sender-form{
    padding: 1rem 0;
    font-size: 0.75rem;
    .sender-info{
        max-width: 960px;
        input{
            margin:10px 5px;
            flex: 1 1 100px;
            &.address{
                flex:1 1 200px;
            }
        }
    }
    
}
.btn_add{
    border: 1px solid $maincolor;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: bold;
    color:$maincolor;
}


.shipping_done{
    .form-table-list{
        align-items: center;
        border-bottom: 1px solid #ddd;
        padding:10px 0px;
    }   
    .total_price{
        color: red;
        span{
            display: inline-block;
            padding: 5px;
            min-width: 100px;
        }
    }
}