
@import "_color.scss";

input,select{
    border: 1px solid black;
    padding:2.5px 5px;
    width: 100%;
    border-radius: 2.5px;
    &:focus{
        border: 1px solid black;
    }
}
.form-table{
    border-radius: 5px;
    padding: 5px;
    font-size: 0.75em;
    .form-table-title{
        color: $maincolor;
        // padding: 5px;
        
        // font-size: 0;
        
    }
    .form-table_person{
        width: 65%;
        // font-size: 1rem;
    }
    .form-table_product{
        width: 35%;
        // font-size: 1rem;
        padding: 0;
        align-items: center;
    }
    .form-table-row,
    .product-list{
        display: flex;
        vertical-align: middle;
        & > div{
            // padding: 5px;
            flex:1 1 50px;
            // outline: 1px solid #F00;
            text-align: left;
            box-sizing: border-box;
            // outline: 1px solid #f00;
           
            &.price,&.length{
                flex:0.5 1 25px;
            }
        }
        .btn_holder{
            flex:0 0 30px;
            padding-top: 7.5px;
    text-align: center;
        }
        .val{
            flex: 1 1 150px;
        }
        .num{
            flex: 1 1 75px;
        }
        .phone,.name{
            flex: 1 1 100px;
        }
        .address{
            flex: 1 1 250px;
        }
        .mail{
            flex: 1 1 180px;
        }
    }
    .product-list{
        width: 100%;
        flex-wrap: wrap;
    }
    
   
}
.upload_exc{
    list-style: none;
    text-align: center;
    font-size: 8px;
    margin: 10px;
    border-top: 1px solid #4d4d4d;
    border-bottom: 1px solid #4d4d4d;
    padding: 10px;
    li{
        display: inline-block;
        padding: 5px 15px;
       a{
           color:#4d4d4d;
       }
        &.active{
            background-color: #4d4d4d;
            color:#fff;
            border-radius: 30px;
            cursor: pointer;
        }
        label{
            margin: 0;
            cursor: pointer;
        }
        &>input{
            width: 0;
            height: 0;
            appearance: none;
            display: none;
        }
    }
    
}
.send-btn{
    max-width: 150px;
    margin: 1.5rem auto 0;
}
.border-main-bottom{
    border-bottom: 1px solid $maincolor;
}
.sender-form{
    padding: 1rem 0;
    font-size: 0.75rem;
    .sender-info{
        max-width: 960px;
        input{
            margin:10px 5px;
            flex: 1 1 100px;
            &.address{
                flex:1 1 200px;
            }
        }
    }
    
}
.btn_rounded{
    // border: 1px solid $maincolor;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: bold;
    color:$maincolor;
}
.btn_add{
    border: 1px solid $maincolor;
    color: $maincolor;
}
.btn_clear{
    border: 1px solid red;
    color:red;
}


.shipping_done{
    .form-table-list{
        align-items: center;
        border-bottom: 1px solid #ddd;
        padding:10px 0px;
    }   
    .total_price{
        color: red;
        span{
            display: inline-block;
            padding: 5px;
            min-width: 100px;
        }
    }
}


//運送狀態
.packge-progress{
    font-size: 0.75rem;
    color:$maincolor;
    max-width: 958px;
    margin: auto;
    ul{
        display: flex;
        justify-content: space-between;
        position: relative;
        margin: 45px 0;
        &:after{
            content: '';
            display: block;
            width: 100%;
            height: 3px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: -1;
            @extend %mainLinear;
        }
        li{
            text-align: center;
            display: inline-block;
            color:#ddd;
            
            &.dot{
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color:#ddd;  
                z-index: 100;
            }
            
            &::before{
                content: attr(data-text);
                width: 100px;
                position: absolute;
                top: 10px;
                text-align: center;
                top: -30px;
                transform: translateX(-50%);
                z-index: 1;
            }
            &:after{
                content: '';
                position: absolute;
                width: calc((100% - 50px)/4);
                height: 3px;
                background-color: #ddd;
                top: 50%;
                transform: translate(calc(-100% - 5px),-50%);
                z-index: -1;
            }
            &:nth-child(1).active{background-color:#03fdff;}
            &:nth-child(2).active{background-color:#00dfff;}
            &:nth-child(3).active{background-color: #00bfff;}
            &:nth-child(4).active{background-color: #00a1ff;}
            &:nth-child(5).active{background-color: #0181ff;}
            &.active{
                color:$maincolor;
            }
            // &.active.dot{
            //     background-color:$maincolor; 
            // }
            &.active,&:first-child{
               
                &:after{
                    width: 0;
                }
            }
        }
    }
    
    
}

#upload_overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000,.7);
    text-align: center;
    display: none;
    &.active{
        display: block;
    }
    & > div{
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 1.5rem;
    }
    .btn-groups{
        &>div{
            display: inline-block;
        }
        .file_btn{
            &.costomer-btn{
                padding: 0;
            }
            label{
                margin: 0;
                padding:0.7rem 1rem;
            }
            input{
                display: none;
            }
        }
        
    }
}

// loading
.loading{
    position: relative;
    &:after{
        content: 'loading';
        position: absolute;
        bottom: -40px;
        color: #fff;
        left: 50%;
        transform: translateX(-50%);
    }
}
.loading-bro {
    width: 100px;
    height: 100px;
  }
  
  #load {
      width: 80px;
      margin: 10px;
      animation: loading 3s linear infinite;
      #loading-inner {
            stroke: {
          dashoffset: 0;
          dasharray: 300;
          width: 10;
          miterlimit: 10;
          linecap: round;
        }
        animation: loading-circle 2s linear infinite;
        stroke: $maincolor;
        fill: transparent;
      }
      }
  
  @keyframes loading {
          0% { 
        transform: rotate(0); 
      }
          100% { 
        transform: rotate(360deg);
      }
  }
  @keyframes loading-circle {
          0% { 
        stroke-dashoffset: 0
      }
          100% { 
        stroke-dashoffset: -600;
      }
  }